body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #100f15ff 30%, #100f15dd);
}
.main {
  width: 400px;
  margin: 0 10;
}
